body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.s{
  display: flex;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.deafult-button{
  border: none;
  background: transparent;
  border-radius: .2em;
  padding: 0.5em 0.9em;
}
.contained{
  background-color: rgb(25, 118, 210);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 1px -5px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
.outlined{
  color:blue ;
  border: 1px solid blue;
}